<header class="header-site" style="background-color : rgb(14, 13, 13)">
    <div class="header-box">
        <a href="/">
            <img src="/static/logo.jpg">
            <span>ยิ้มยิ้ม</span>
        </a>
    </div>
    <div class="header-box2">
        <a href="/post/new">สร้างโพสต์</a>
    </div> 
</header>