@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200;400;500&family=Poppins:wght@500;700&family=Prompt&family=Roboto:wght@500&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mali', cursive;
    font-size: 14px;
}

body{
    background-color: rgb(42, 36, 51);
}